mixin about()
    section#about.about-section
        .container
            .about-section__card
                header.about-section__card-header
                    h2 Open Source Infrastructure Outreach
                    h4 Enlightening the world about emerging Open Source Infrastructure
                .about-section__card-info
                    p Open Source Infrastructure is the glue that runs the Cloud. From Containers to Software Defined Networking to 
                    blockquote
                        p Our goal is to bring Open Source Infrastructure software technologies to you!
                    p Nunc non venenatis odio. Nullam id neque et lectus suscipit mattis ac a ante. Suspendisse potenti. Aliquam in nulla sem. Vivamus sodales malesuada leo, sit amet cursus nunc vulputate aliquet. Proin porttitor ex facilisis aliquam efficitur. Vestibulum scelerisque nisl ac ex rutrum, quis aliquet nibh ultrices.
