mixin team()
    section#team.common-section
        .container
            header.common-section__header
                h2 Our Team
                p Donec convallis pretium erat in varius
            .team
                .team__member
                    img(src="static/images/team/john_studarus.jpg" alt="John Studarus")
                    .team__member-info
                        h3.team__member-name John Studarus
                        p.team__member-descr Open Source advocate
